
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/* user stories freecodecamp */

#title{
 font-size: h1;
}

#description{

}

#survey-form{

}

#name-label{

}

#email-label{

}

#number-label{

}

form{
  background-color: white;
}

/* user stories freecodecamp */

.form-div{
  margin-bottom: 25px;
  border: solid pink 1px;
  padding: 5px 5px 5px 5px;
  display: block;
}

label{
  font-family: Helvetica;
  color: #37414a;
  font-size: 18px;
  line-height: 24px;
}

input[type="text"],
input[type="email"],
input[type="number"]{
  font-family: Helvetica;
  font-size: 18px;
  font-weight: lighter;
  border: none;
  border-bottom: 1px solid #1000ff;
  outline: none;
  margin-top: 15px;
}

input:focus{
  border: none;
  border-bottom: 1px solid #1000ff;
  color: #1000ff;

}

.container{
  padding: 20px 20px 20px 20px;
  border: solid red;
}


body{
  background-color: white; 
  overflow-x: hidden;
}


h1{
  font-family: Helvetica;
  color: black;
  margin-left: 25px;
  margin-top: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

h2{
  font-family: Helvetica Neue LT Std, Helvetica;
  color: black;
  height: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 110%;
  text-align: center;
}


