
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


#title {
}

#main{
}

#img-div {
  text-align: center;
}

#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
}



#img-caption{
}

#tribute-info{   
}

#tribute-link{
  text-decoration: underline;
  color: #00FF00;
}

#tribute-link-2{
  text-decoration: underline;
  color: #00FF00;
}

/*end code for freecodecamp*/


body{
  background-color: white; 
  overflow-x: hidden;
}

h1{
  font-family: Helvetica Neue LT Std, Helvetica;
  color: white;
  margin-left: 25px;
  margin-top: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 95%;
  text-shadow: rgb(0,0,0,0.5) 1px 0 15px;

}

h2{
  font-family: Helvetica Neue LT Std, Helvetica;
  color: white;
  height: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 110%;
  text-align: center;
}

p{
  font-family: Helvetica Neue LT Std, Helvetica;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.div-text {
  display: center;
  text-align: left;
  
}

.div-image{
  display: center;
  text-align: center;
}

.image-resp{
  width: 100%;
  max-width: 700px;
  height: auto;
  display: center;
  padding-top: 90px;
  padding-bottom: 50px;
}


/* start splashscreen */

.container{
  margin-top: 0px;
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header header header"
  "content content content content content"
  "content content content content content"
  "content content content content content"
  "content content content content content"

}

.item-header{
  grid-area: 1/1/2/4;
}  





