
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/* user stories freecodecamp */

#title{
 font-size: h1;
}

#description{

}

#survey-form{

}

#name-label{

}

#email-label{

}

#number-label{

}

form{
  background-color: white;
}

/* user stories freecodecamp */

.container{
  margin-top: 5%;
  width: 800px;
  height: 800px;
  display: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 10px;
}


body{
  background-color: black; 
  overflow-x: hidden;
}

h1{
  font-family: Helvetica Neue LT Std, Helvetica;
  color: black;
  margin-left: 25px;
  margin-top: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 95%;
  text-shadow: rgb(0,0,0,0.5) 1px 0 15px;

}

h2{
  font-family: Helvetica Neue LT Std, Helvetica;
  color: black;
  height: 56px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 110%;
  text-align: center;
}

p{
  font-family: Helvetica Neue LT Std, Helvetica;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.div-text {
  display: center;
  text-align: left;
  
}




.item-header{
  grid-area: 1/1/2/4;
}  
